body{
    background-color: black;
    color: white;
    padding: 0 5px;
}

#main{
    font-weight: 800;
    min-height: 50vh;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    line-height: 9vh;
    font-size: 6vh;
}

.number{
    padding: 0 10px;
}